<!DOCTYPE html>
<html>
  <head>
    <title>Add Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddDo" name="adddo" method="post" action="/adddo">
      <input id="inputDo" type="text" placeholder="do" name="do" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>
